.terraform/
.terraform.lock.hcl
*.tfstate
.tfstate.
*.pem
crash.log
crash.*.log
*.tfplan
.DS_Store
Thumbs.db
*.tfstate.backup
*.pem
*.key
new-secure-key
new-secure-key.pub
node_modules/
pycache/
*.pyc
.env
.DS_Store
ansible.cfg